h1 { border-bottom-style: inset; }

body{ background-color: #90EE90 }

table{ background-color: white }

.tarefa-selecionada { color: red; font-style: italic; }
.tarefa-normal { color: black; }

.exclui { color: red; cursor: pointer; } /*Faz o mouse virar um dedinho */
.alinha-direita { text-align: right; }

img.normal { float: left; height: 320px; width: 320px; }