h1 { border-bottom-style: inset; }

body{ background-color: #90EE90 }

table{ background-color: white }

.exclui { color: red; cursor: pointer; } /*Faz o mouse virar um dedinho */

img.normal { float: left; height: 320px; width: 320px; }